/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, button, img, input, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, textarea, tr, th, td,
article, aside, menu, nav, section, time {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

input, textarea {
  background-color: transparent;
}

ol, ul {
	list-style: none;
}
